
<div class="outer_container">

  <div class="big_container">
    <div class="top_bar">
      <span><strong>Admin Login Details</strong></span>
    </div>
    <div class="transparent_bg">
      <div class="container">
        


                  <form>
                    <h2>Log In</h2>
                   
                     
                  
                    <mat-form-field class="full-width-input">
                      <mat-icon>email</mat-icon>
                      <input matInput placeholder="Email" formControlName="username" required>
            
                      
                
                    </mat-form-field>

                    <mat-form-field class="full-width-input">

                       <mat-icon>key</mat-icon><input matInput type="password" placeholder="Password" formControlName="password" required>
                      
                    </mat-form-field>
                    <button mat-raised-button color="primary">Login</button>
                    <br/>
                    <a routerLink='/forgot-password-admin'>Forgot Password?</a>
                    &nbsp;
                    <a routerLink="/signup-admin">Don't have Account?</a>
                  </form>
                

            

















          <div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  





